<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-US</string>
	<key>CFBundleIdentifier</key>
	<string>org.algorithmicbotany.FuncEdit.help</string>
	<key>CFBundleName</key>
	<string>FuncEditHelp</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleVersion</key>
	<string>1308</string>
	<key>HPDBookAccessPath</key>
	<string>funedit.html</string>
	<key>HPDBookIconPath</key>
	<string></string>
	<key>HPDBookIndexPath</key>
	<string>FuncEditHelp.helpindex</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>HPDBookKBProduct</key>
	<string>????</string>
	<key>HDPBookRemoveURL</key>
	<string></string>
	<key>HPDBookTitle</key>
	<string>FuncEdit Help</string>
	<key>HPDBookType</key>
	<string>3</string>
</dict>
</plist>
